

<!DOCTYPE html>
<html>
<head>
    <title>FileZombie</title>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|EB+Garamond|Encode+Sans+Expanded|Inconsolata|Karla|Manuale|Nunito+Sans|Pontano+Sans|Roboto+Slab:300|Rokkitt|Sanchez" rel="stylesheet">
</head>
<body>


<div class="header">

    <!--
    <div class="logo">


    </div> -->

    <h1>
        File Zombie
    </h1>
</div>


<div class = "front-page">

    <a href="/home">home</a>

    <div id="error_div">

       <h1>404 Error</h1>
    </div>


</div>


<!--
<div id ="link">




</div> -->

<div class = "footer">


</div>
<!-- Your web-app is https, so your scripts need to be too -->
<script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
<!--<script src="/public/javascripts/shorten.js"></script> -->
</body>
</html>
